# [idm]
# serial: /dev/serial/by-id/usb-IDM_rp2040_E6625C489360C22E-if00
# restart_method: command
# speed: 20
# lift_speed: 20
# backlash_comp: 0.5
# #   Backlash compensation distance for removing Z backlash before measuring
# #   the sensor response. (надо калибровать)
# x_offset: 0.0
# y_offset: 27.0
# trigger_distance: 2
# #   Высота пробы над столом для выполнения состояния "триггер".
# trigger_dive_threshold: 2
# #   За trigger_distance + trigger_dive_threshold будет использоваться нырок.
# trigger_hysteresis: 0.006
# #   Hysteresis on trigger threshold for untriggering, as a percentage of the
# #   trigger threshold. (ебанина)
# cal_nozzle_z: 0.05
# #   Expected nozzle offset after completing manual Z offset calibration.
# cal_floor: 0.1
# #   Смещение сопла после калибровки оффсета (да хуй его знает зачем)
# cal_ceil: 5.0
# #   Максимальное значение z при измерении отклика датчика.
# cal_speed: 1.0
# #   Скорость при измерении кривой отклика.
# cal_move_speed: 10
# default_model_name: default
# #   Name of default idm model to load.
# mesh_main_direction: x
# #mesh_overscan: 1
# #   Диаметр полукруга используемый для поворота на концах сканируемой сетки, дефолт - само рассчитывается
# mesh_cluster_size: 2
# #   Radius of mesh grid point clusters. (ебанина)
# mesh_runs: 2
# #   Number of passes to make during mesh scan.

# [temperature_sensor beacon mcu]
# sensor_type: temperature_mcu
# sensor_mcu: idm
# min_temp: 0
# max_temp: 100

# [mcu idm]
# serial: /dev/serial/by-id/usb-IDM_614e_E6625C48939F682D-if00
# restart_method: command

# [mpu9250]
# # i2c_address: 0x70
# i2c_mcu: idm
# i2c_bus: i2c0c
# i2c_speed: 100000
# axes_map: y,x,-z

# [idm_accel]
# i2c_bus:i2c0c
# axes_map: x,y,z

[mcu beacon]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6625C489360C22E-if00
restart_method: command

[static_pwm_clock _ldc1612_clk_in]
pin: beacon:gpio2
frequency: 12000000

[output_pin _ldc1612_en]
pin: beacon:gpio1
value: 0 # enable

[led _ldc1612_led]
white_pin: beacon:gpio10
cycle_time: 1.0
hardware_pwm: False
initial_WHITE: 0.5

[probe_eddy_current beacon]
sensor_type: ldc1612
frequency: 12500000
intb_pin: beacon:gpio0
z_offset: 2.0
i2c_mcu: beacon
i2c_bus: i2c0c
i2c_address: 42
i2c_speed: 400000
x_offset: 0.0
y_offset: 27.0
speed: 20
lift_speed: 20
samples: 1
sample_retract_dist: 1
samples_result: average
samples_tolerance: 0.015
samples_tolerance_retries: 4
tap_threshold: 100

[thermistor _beacon_47k]
temperature1: 25
resistance1: 47000
beta: 4041.0

[temperature_probe beacon_coil]
sensor_type: _beacon_47k
sensor_pin: beacon:gpio26
pullup_resistor: 10000
min_temp: -260
max_temp: 150

[temperature_sensor beacon_mcu]
sensor_type: temperature_mcu
sensor_mcu: beacon
min_temp: 0
max_temp: 100

[mpu9250]
i2c_mcu: beacon
i2c_bus: i2c0c
i2c_address: 104
i2c_speed: 400000
axes_map: y,x,-z
